* {
	padding: 0;
	margin: 0;
}
header, footer {
	text-align: center;
	letter-spacing: 1px;
}
header {
	background: radial-gradient(lightpink, floralwhite);
}
footer {
	background: radial-gradient(lightblue, aliceblue);
}
h1 {
	padding: 10px;
}
section {
	background-color: floralwhite;
	width: 300px;
	padding: 15px;
	margin-top: 20px;
	word-break: keep-all
}
h2 {
	background-color: lightpink;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	color: floralwhite;
}
img {
	width: 300px;
}
article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
	margin-bottom: 30px;
}
p {
	line-height: 1.6;
	margin-top: 10px;
	margin-bottom: 10px;
}
li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
}
a {
	color: black;
}
.me, .de, .we {
	text-align: center;
	width: 300px;
	height: 300px;
	writing-mode: vertical-rl;
	text-orientation: upright;
} 
.me, .de {
	border-radius: 150px;
}
.me {
	background: radial-gradient(lightpink, floralwhite);
	position: absolute;
	top: 220px;
	left: 35vw;
	border: 3px solid lightpink;
}
.de {
	background: radial-gradient(floralwhite, lightpink);
	position: absolute;
	top: 380px;
	right: 35vw;
	border: 3px solid floralwhite;
}
.we {
	background: radial-gradient(aliceblue, lightblue);
	position: absolute;
	top: 800px;
	left: 41vw;
	border: 3px solid aliceblue;
}
nav {
	margin-bottom: 200px;
}
footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
}
@media screen and (max-width: 1350px) {
	.me {
		width: 280px;
		height: 280px;
		top: 20vh;
		left: 24vw;
	}
	.de {
		width: 280px;
		height: 280px;
		top: 40vh;
		right: 24vw;
	}
}
@media screen and (max-width: 800px) {
	.me, .de, .we {
	text-align: center;
	width: 250px;
	height: 250px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	}
	.me, .de {
		border-radius: 200px;
		background: radial-gradient(lightpink, floralwhite);
		position: absolute;
	}
	.me {
		top: 20vh;
		left: 12vw;
		border: 3px solid lightpink;
	}
	.de {
		top: 40vh;
		right: 12vw;
		border: 3px solid floralwhite;
	}
	.we {
		position: absolute;
		top: 80vh;
		left: 25vw;
		border: 3px solid aliceblue;
	}
	li {
		font-size: 15pt;
	}
	p {
		font-size: 13pt;
	}
	footer {
		text-align: center;
		position: fixed;
		bottom: 0;
		right: 0;
		padding: 5px;
		padding-right: 15px;
		padding-left: 15px;
	}
}