* {
	padding: 0;
	margin: 0;
}
header, footer {
	background: radial-gradient(lightpink, floralwhite);
	text-align: center;
	letter-spacing: 1px;
}
h1 {
	padding: 10px;
}
section {
	background-color: floralwhite;
	width: 300px;
	padding: 15px;
	margin-top: 20px;
	word-break: keep-all
}
h2 {
	background-color: lightpink;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	color: floralwhite;
}
img {
	width: 300px;
}
article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
	margin-bottom: 30px;
}
p {
	line-height: 1.6;
	margin-top: 10px;
	margin-bottom: 10px;
}
li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
}
a {
	color: black;
}
.me, .de {
	text-align: center;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	writing-mode: vertical-rl;
	text-orientation: upright;
} 
.me {
	background: radial-gradient(lightpink, floralwhite);
	position: absolute;
	top: 220px;
	left: 600px;
	border: 3px solid lightpink;
}
.de {
	background: radial-gradient(floralwhite, lightpink);
	position: absolute;
	top: 380px;
	right: 600px;
	border: 3px solid floralwhite;
}
nav {
	min-height: 785px;
}
footer {
	padding: 1px;
	position: relative;
	transform: translateY(0%);
}
@media screen and (max-width: 900px) {
	.me, .de {
	text-align: center;
	width: 250px;
	height: 250px;
	border-radius: 200px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	}
	.me {
		background: radial-gradient(lightpink, floralwhite);
		position: absolute;
		top: 20vh;
		left: 10vw;
		border: 3px solid lightpink;
	}
	.de {
		background: radial-gradient(floralwhite, lightpink);
		position: absolute;
		top: 40vh;
		right: 10vw;
		border: 3px solid floralwhite;
	}
	li {
		font-size: 16pt;
	}
}